@use "bootstrap/scss/bootstrap" as *;

$background: #e8eaff;
$primary-color: #3F322C;
$secondary-color: #bf8160;
$logo-color: #046b52;
$text-font: "Urbanist", sans-serif, Arial, Helvetica, sans-serif;
$title-font: "Limelight", sans-serif, Arial, Helvetica, sans-serif;

$accent: #ef3e47;
