@use "bootstrap/scss/bootstrap" as *;

$text-font: "Urbanist", sans-serif, Arial, Helvetica, sans-serif;
$title-font: "Limelight", sans-serif, Arial, Helvetica, sans-serif;

$background: #d1f3e2;
$logo-color: #046b52;
$primary-color: #3b4841;
$accent: #4fc9d2;
$accent2: #b37800;
