@use "bootstrap/scss/bootstrap" as *;

$background: #e8eaff;
$primary-color: #806659;
$secondary-color: #bf8160;
$logo-color: #046b52;
$text-font: "Urbanist", sans-serif, Arial, Helvetica, sans-serif;
$title-font: "Limelight", sans-serif, Arial, Helvetica, sans-serif;


// .urbanist-<uniquifier> {
//   font-family: "Urbanist", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

// .limelight-regular {
//   font-family: "Limelight", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }
