*,
*::before,
*::after {
    box-sizing: border-box;
}

:root, html, body, #app {
    height: 100%;
    /* background-color: #e8eaff; */
    /* background-color: #d1f3e2; */
}

body {
    height: 100%;
    /* background-color: $background; */
    font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    color: $logo-color;
}

p {
    color: $primary-color;
    font-size: 1.2rem;
    line-height: 1.5;
}