*,
*::before,
*::after {
    box-sizing: border-box;
}

:root, html, body, #app {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    color: $logo-color;
}

p {
    color: $primary-color;
    line-height: 1.5;
}

// Styling for title element across all sections
.page-title {
    margin: 2rem auto;
    width: 75%;
    color: $logo-color;
    margin-bottom: 3rem;
}

// Frosty background effect
.milk-glass {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#ui-layer {
    position: relative;
    z-index: 9999; // absolute top
}

@media (max-width: 992px) {
    .page-title {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .page-title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 90%;
    }
}

// ANIMATIONS
.slide-in-fwd-left {
    -webkit-animation: slide-in-fwd-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-left {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(-1000px);
                transform: translateZ(-1400px) translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateX(0);
                transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-left {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(-1000px);
                transform: translateZ(-1400px) translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateX(0);
                transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

.slide-in-fwd-right {
    -webkit-animation: slide-in-fwd-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-right {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(1000px);
                transform: translateZ(-1400px) translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateX(0);
                transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-right {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(1000px);
                transform: translateZ(-1400px) translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateX(0);
                transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}