*,
*::before,
*::after {
    box-sizing: border-box;
}

:root, html, body, #app {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    color: $logo-color;
}

p {
    color: $primary-color;
    line-height: 1.5;
}

// Styling for title element across all sections
.page-title {
    margin: 2rem auto;
    width: 75%;
    color: $logo-color;
    margin-bottom: 3rem;
}

// Frosty background effect
.milk-glass {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .page-title {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .page-title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 90%;
    }
}

@media (max-width: 1200px) {
 //
}